<a href="/" class="main-logo u-align-center sp--lg sp--lg--top">
  <div class="main-logo__graphic-wrapper">
    <div class="main-logo__graphic">
      <svg xmlns="http://www.w3.org/2000/svg" width="64" height="60" viewBox="0 0 64 60"><title>Launchbox Logo</title><path id="launchbox-logo-lines" fill="#6B2607" fill-rule="evenodd" d="M0,0 H64 V60 H0 V0   M6,6 h52 v12 h-52 v-12 z   M6,24 h52 v12 h-52 v-12 z   M6,42 h52 v12 h-52 v-12 z"/></svg>
    </div>
  </div>
  <span class="main-logo__text">Launchbox?</span>
</a>

<div class="callout sp--lg">
  <p class="ms-1">
    <strong>Launchbox is only a list of links.</strong>
    It helps you test your websites on multiple devices.
  </p>
</div>

<p class="sp--lg">
  <strong>Do you love typing IP addresses on crappy little devices?</strong>
  Of course not. That's silly. You have Internet to build.
  Stash links you need to access&mdash;IP addresses,
  test cases on <a class="link" href="http://codepen.io/">Codepen</a>,
  your instance of <a class="link" href="http://vanamco.com/ghostlab/">Ghostlab</a>&mdash;on
  Launchbox, and it'll be there when you open up your device.
  Think low-tech multi-device iCloud Tabs.
</p>

<p class="sp--lg">
  <strong>Launchbox requires zero setup.</strong>
  Bookmark it. Put it on your home screen. Keep it in a pinned tab. Make it the official landing page of your device wall. Keep the URL in a Word document on your desktop. I don't care.
</p>

<div class="sp--xxl u-align-center">
  <a href="/" class="btn btn--primary btn--inline sp">Use Launchbox</a>
  <a href="https://github.com/ethanmuller/launchbox" class="btn btn--secondary btn--inline">View on Github</a>
</div>

<p class="sp--xxl l-block u-align-center">
  <strong class="l-block sp">Bookmarklet: </strong>
  <span class="l-block">
    <a class="btn btn--sm btn--secondary btn--inline sp" href="javascript:(function(){var launchboxHost='http://launchbox.io', t = encodeURIComponent(document.title), u = encodeURIComponent(window.location.href); window.location.href=launchboxHost+'/box/links/create?name='+t+'&url='+u;})()">☰ +</a>
  </span>
</p>

<p class="sp--xl u-align-center">
  Made with <a href="https://www.youtube.com/watch?v=o-50GjySwew" aria-label="razzle dazzle">✨</a> by <a href="https://twitter.com/ethanmuller" class="link">@ethanmuller</a>.
</p>
