<p>Launchbox is only a list of links.</p>
<p>Launchbox helps you test your websites on multiple devices.</p>
<p>Launchbox keeps you from typing your IP address over and over again crappy little slow devices.</p>
<p>Launchbox makes for a perfect homepage for your multitude of devices.</p>
<p>Launchbox requires no setup and is magic.</p>
<p>Launchbox isn't actually magic, it's just scoped to your external IP address.</p>
