<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Launchbox</title>

  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <link rel="stylesheet" href="/stylesheets/styles.css">

  <!-- for metro tiles -->
  <meta name="msapplication-TileColor" content="#e1e1e1">
  <meta name="msapplication-TileImage" content="/favicon-144.png">

  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/favicon-152.png">
  <link rel="icon" sizes="32x32"   href="/favicon-32.png">
  <link rel="icon" sizes="16x16"   href="/favicon-16.png">

</head>
<body>

  <div class="l-limit">
    <div class="l-header">
      <div class="l-logo">
        <a href="/" class="main-logo">
          <svg class="main-logo--graphic" xmlns="http://www.w3.org/2000/svg" width="64" height="60" viewBox="0 0 64 60"><title>Launchbox Logo</title><path id="launchbox-logo-lines" fill="#6B2607" fill-rule="evenodd" d="M0,0 H64 V60 H0 V0   M6,6 h52 v12 h-52 v-12 z   M6,24 h52 v12 h-52 v-12 z   M6,42 h52 v12 h-52 v-12 z"/></svg>
          <span class="main-logo--text">Launchbox</span>
        </a>
      </div>

      <div class="u-align-center l-help-link">
        <a href="/what-is-this-even" class="btn btn--secret btn--sm">?</a>
      </div>
    </div>
    
    <div class="l-main">
      <%= yield %>
    </div>
  </div>

</body>
</html>
