<div class="l-screen-height">
  <div class="l-limit">
    <div class="l-header">
      <div class="l-logo">
        <a href="/" class="main-logo">
          <div class="main-logo__graphic-wrapper">
            <div class="main-logo__graphic">
              <svg xmlns="http://www.w3.org/2000/svg" width="64" height="60" viewBox="0 0 64 60"><title>Launchbox Logo</title><path id="launchbox-logo-lines" fill="#6B2607" fill-rule="evenodd" d="M0,0 H64 V60 H0 V0   M6,6 h52 v12 h-52 v-12 z   M6,24 h52 v12 h-52 v-12 z   M6,42 h52 v12 h-52 v-12 z"/></svg>
            </div>
          </div>
          <span class="main-logo__text">Launchbox</span>
        </a>
      </div>
    </div>

    <%= yield %>
  </div>
</div>


<div class="sp--xl u-align-center">

  <% if settings.public_mode && @ip %>
    <div class="c-secondary sp--lg">
      Showing box for <strong><%= @ip %></strong>
    </div>
  <% end %>

  <div class="c-secondary sp">
    <a href="/what-is-this-even" class="btn btn--inline btn--secret btn--sm">What is this?</a>
    <a href="https://github.com/ethanmuller/launchbox/issues" class="btn btn--inline btn--secret btn--sm">Report an issue</a>
  </div>
</div>
