<form action="/box/links/create" method="post">
  <label>
    Name
    <input type="text" name="link[name]">
  </label>
  <label>
    URL
    <input type="text" name="link[url]">
  </label>
  <input type="submit">
</form>
