<div class="sp--lg--top">
  <form action="/box/links/create" method="post" novalidate>


    <div class="sp--xl">
      <label>
        <span class="form-label">Name</span>
        <input class="text-input <%= "text-input--error" if @link.errors[:name].any? %>"
               type="text"
               name="link[name]"
               value="<%= @link.name %>"
               placeholder="Lauren's IP Address"
               aria-describedby="name-error"
               required
               autofocus>
      </label>

      <% if @link.errors[:name].any? %>
        <div id="name-error" class="callout callout--negative sp--top">
          <%# if any validations other than presence are added, this message will need to be dynamic %>
          <strong>Please enter a name for your link.</strong>
        </div>
      <% end %>

    </div>

    <div class="sp--xl">
      <label>
        <span class="form-label">URL</span>
        <input class="text-input <%= "text-input--error" if @link.errors[:url].any? %>"
               type="url"
               name="link[url]"
               placeholder="192.168.0.5"
               aria-describedby="url-error"
               required
               value="<%= @link.url %>">
      </label>

      <% if @link.errors[:url].any? %>
        <div id="url-error" class="callout callout--negative sp--top">
          <%# if any validations other than presence are added, this message will need to be dynamic %>
          <strong>Please enter a URL for your link.</strong>
        </div>
      <% end %>

    </div>

    <div class="l-right">
      <input type="submit" class="btn btn--primary">
    </div>
  </form>

</div>
