.l-left {
  float: left;
}

.l-right {
  float: right;
}

.l-block {
  width: 100%;
  float: left;
}

.l-header {
  width: 100%;
  float: left;

  margin: $l-header-margin 0;
}

.l-logo {
  float: left;
}

.l-help-link {
  float: right;

  // magic number, related to logo size
  margin-top: -0.1em;

  @include safe-mq($mq-grow-logo) {
    margin-top: 0.3em;
  }
}

.l-main {
  width: 100%;
  float: left;
  clear: both;
}

.l-limit {
  // limit page width
  padding: 0 $l-page-gutter;
  margin: 0 auto;

  // sometimes, we pull elements out of .l-limit with negative margins. This
  // prevents the page from scrolling horizontally when we do that.
  overflow: hidden;

  max-width: $l-max-page-width;


}
