// colors
$c-bg: #FF793D;
$c-primary: #6B2607;
$c-secondary: white;
$c-tertiary: #C33D00;

// lengths
$l-max-page-width: 50em;
$l-border: 10px;
$l-base-font-size: 16px;

// media queries
$mq-split-header: 30em;

// vendor settings
$ms-base: $l-base-font-size;
$ms-ratio: $golden;
