// colors
$c-bg: #e1e1e1;
$c-primary: #6B2607;
$c-secondary: #949494;

// semantic colors
$c-negative: rgb(216, 0, 0);
$c-negative-bg: lighten( desaturate( $c-negative, 18 ), 47 );

// colors
// $c-bg: #00BACB;
// $c-primary: #004D55;
// $c-secondary: #027C89;


// lengths
$l-max-page-width: 50em;
$l-border: 6px;
$l-border--sm: 2px;
$l-base-font-size: 18px;
$l-fade-width: 2.5em;
$l-fade-width--edit-mode: 11em;
$l-header-margin: 12px;
$l-handle-width: 32px;

// should actually be ms(), but that's not defined yet
$l-page-gutter: $l-base-font-size;


// media queries
$mq-split-header: 34em;
$mq-remove-box-cancel: 26.25em;
$mq-grow-logo: "(min-height: 400px) and (min-width: #{$l-max-page-width})";


// vendor settings
$ms-base: $l-base-font-size;
$ms-ratio: $golden;

// timing functions
$tf-ease-in-back: cubic-bezier(0.600, -0.280, 0.735, 0.045);
$tf-ease-out-back: cubic-bezier(0.175, 0.885, 0.320, 1.275);
$tf-ease-out-back--big: cubic-bezier(0.27, 1.32, 0.32, 1.85);

// z-index scale
$zi-1: 100;
$zi-2: 200;
$zi-3: 300;

// z-index scale, applied
$zi-box-contents: $zi-1;
$zi-box-fade: $zi-2;
$zi-box-handle: $zi-2;
$zi-box-controls: $zi-3;



// other
// Arial first. Just to piss off nerds.
$default-font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
