$highlight-selector: "&:focus, .no-touch &:hover";

.btn {
  display: block;
  padding: 1em 1.3em;

  cursor: pointer;

  font-size: 14px;

  @include safe-mq("(min-width: 430px)") {
    font-size: ms();
  }

  font-weight: bold;

  border-style: solid;
  border-width: $l-border;

  text-transform: uppercase;
  text-align: center;

  // remove default button/input styles
  -webkit-appearance: none;
  border-radius: 0;
  margin: 0;
  font-family: $default-font-stack;
  background-color: transparent;
  box-sizing: border-box;
  line-height: 1.2;
}

.btn--primary {
  background-color: $c-primary;
  color: $c-bg;
  border-color: $c-primary;

  #{$highlight-selector} {
    color: white;
    background-color: lighten($c-primary, 10%);

    outline: none;
  }
}

.btn--secondary {
  background-color: $c-bg;
  color: $c-primary;

  border: $l-border solid $c-primary;

  #{$highlight-selector} {
    background-color: white;

    outline: none;
  }
}

.btn--secret {
  background-color: transparent;
  color: $c-secondary;
  border: $l-border solid transparent;

  position: relative;

  #{$highlight-selector} {
    border-color: $c-secondary;

    outline: none;

    &:before {
      display: none;
    }
  }
}


.btn--inline {
  display: inline-block;
}

.btn--sm {
  font-size: ms() * 0.8;
  padding: 8px 10px;

  border-width: $l-border--sm !important;
}
