.callout {
  padding: ms();
  border: $l-border solid $c-primary;
}

.callout--subtle {
  // OXYMORON, RITE? LOL
  border-color: $c-secondary;
}

.callout--negative {
  border-color: $c-negative;
  color: $c-negative;
}
