.text-input {
  background-color: transparent;

  // remove iOS input styling
  -webkit-appearance: none;
  border-radius: 0;

  display: block;

  box-sizing: border-box;
  width: 100%;
  padding: $l-border;

  font-size: ms(1);

  @include safe-mq("(min-width: 685px)") {
    font-size: ms(2);
  }

  font-weight: bold;

  color: $c-primary;

  border: $l-border solid $c-primary;

  &:focus {
    background-color: white;

    outline: none;
  }
}
