.main-logo {
  display: block;
}

.main-logo--graphic {
  // SVG element
  display: inline-block;
  vertical-align: middle;

  margin-right: ms() * 0.5;

  width: 32px;
  height: 100%;
  @media (min-width: $mq-grow-logo) {
    width: 64px;
    margin-right: ms();
  }
}

.main-logo--text {
  vertical-align: middle;

  font-weight: bold;
  text-transform: uppercase;

  font-size: ms(1);
  line-height: 1;
  letter-spacing: 0.02em;

  @media (min-width: $mq-grow-logo) {
    font-size: ms(2);
  }
}
