.main-logo {
  display: block;
}

.main-logo--graphic {
  // SVG element

  path {
    fill: $c-primary;
  }

  display: inline-block;
  vertical-align: middle;

  margin-right: 2px;

  width: 16px;
  height: 100%;
  @media #{$mq-grow-logo} {
    width: 48px;
    margin-right: 9px;
  }
}

.main-logo--text {
  vertical-align: middle;

  font-weight: bold;
  text-transform: uppercase;

  letter-spacing: 0.02em;

  @media #{$mq-grow-logo} {
    font-size: ms(1);
  }
}
